---
import '@shoelace-style/shoelace/dist/themes/light.css'
import '@shoelace-style/shoelace/dist/themes/dark.css'
---

<!doctype html>
<html lang="en" class="sl-theme-dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<main>
			<nav>
			<sl-button id="themeToggle">
				<sl-icon name="sun-fill" library="default"></sl-icon>
			</sl-button>
				<ul>
					<li><a href="/">home</a></li>
					<li><a href="/about">about</a></li>
					<li><a href="/lorem">lorem</a></li>
				</ul>
			</nav>
			<slot />
		</main>
	</body>
</html>

<script>
	  // setBasePath to tell Shoelace where to load icons from.
	  import { setBasePath } from '@shoelace-style/shoelace/dist/utilities/base-path.js';
  setBasePath('/shoelace-assets/');

  // Load all components.
  import '@shoelace-style/shoelace';

  // component logic
  const themeToggleBtn = document.getElementById("themeToggle")
  const $html = document.querySelector("html")

  themeToggleBtn?.addEventListener("click", () => {
	$html?.classList.toggle("sl-theme-dark")
  })
</script>

<style>
	* {
		font-family: Arial, Helvetica, sans-serif;
	}

	main {
		margin-left: 1rem;
		margin-right: 1rem;
	}
</style>

